<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">*@
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("StockStumbler", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>*@

            <link rel="stylesheet" href="/Content/css1/base.css">
            <link rel="stylesheet" href="/Content/css1/main.css">
            <link rel="stylesheet" href="/Content/css1/vendor.css">


            <div class="navbar-collapse collapse">

        <nav id="main-nav-wrap">
            <ul class="main-navigation">
                <li class="current"><a class="smoothscroll"  href="/Home/Index" title="">Home</a></li>
                <li><a class="smoothscroll"  href="" title="">About</a></li>
                <li><a class="smoothscroll"  href="/Account/Login" title="">Sign In</a></li>
                <li class="highlight with-sep"><a href="/Account/Register"title="">Register</a></li>
            </ul>
        </nav>
                @*<ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Personalize", "Index", "Personalize")</li>
                </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    @*</div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Stock Rumbler Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
