@model MarketStumblerFinal.Models.Stock
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/content/css/tiletemplatewith1.css" rel="stylesheet" />
    <title>StumblePage</title>
    <style type="text/css">
    .btn input
    {
    height: 50px;
    font-size: 40px;
    }
        </style>
</head>
<body>
        <a href="#" onclick="javascript: window.open('/Popup1/Popup1?Symbol=@Model.Symbol', '123', 'location=no,width=900px,height=600px'); return false;">
            <div  class="container" href="/Popup1/Popup1?Symbol=@Model.Symbol">
                <div id="tile">
                    <div class="symbol">@ViewBag.Symbol</div>
                    <div class="info">
                        <span class="price">$@Model.Bid</span>



                        @if (@Model.perChange[0] == '+')
                        {
                            <span class="arrow" style="color: #7FFF00">&#8593;</span>
                        }
                        @if (@Model.perChange[0] == '-')
                        {
                            <span class="arrow" style="color: red">&#8595;</span>
                        }

                        @if (@Model.perChange[0] == ' ')
                        {
                            <span class="arrow" style="color: white" ; font-size 5em;>&#8211;</span>
                        }
                        <span class="change">@Model.perChange%</span>
                    </div>

                </div>
                <div class="companyname">@ViewBag.Name</div>
            </div>
            </a>
            <div style="width:37.5%;" class="container">
                <div class="space">Test</div>
            </div>


        <div class="StumbleButton">
            <h3 align="center" class="btn"> @Html.ActionLink("Capitalize", "StumblePage", "Results")</h3>

            <input type="button" value="Change my settings" onclick="@("window.location.href='" + @Url.Action("index", "Personalize") + "'");" />
           <!-- <a href="#" onclick="javascript: window.open('/Popup1/Popup1?Symbol=@Model.Symbol', '123', 'location=no,width=900px,height=800px'); return false;">details</a>-->

        </div>
            <table>

                @if (ViewBag.myStocks != null)
            {
                foreach (var item in ViewBag.myStocks)
                {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Symbol</td>
                            <td>@item.Last</td>
                        </tr>
                    }
                }
            </table>

</body>
</html>
